<div id="splash">
  <div class="splash-content">
    <img 
      src="/images/studio/ADPELOGO_NOBACKGROUND.png"
      alt="Logo ADPE"
      class="splash-logo animate-fade-in" />

      <a href="{{ .Site.BaseURL }}" class="logo">
        <img src="/images/studio/logo_small_new.png"
             alt="ADPE"
             style="max-width: 100%; width: 350px; display: block; margin: 50px 50px 50px 50px;" />
      </a>

    <button id="enter-site" class="splash-button animate-fade-in-delayed">
      Entra
    </button>
  </div>
</div>
